@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face { 
  font-family: "BLKCHCRY"; 
  src: url("./assets/fonts/black_chancery/BLKCHCRY.TTF"); 
} 

.nav{@apply tracking-wider font-bold text-xs sm:text-sm hover:opacity-75 ; }

.active{
  @apply p-2 h-auto
}